%section
  .tabs.tabs-style-bar
    %nav
      %ul
        %li
          %a.icon.icon-home{:href => "#section-bar-1"}
            %span Job
        %li
          %a.icon.icon-box{:href => "#section-bar-2"}
            %span Details
        %li
          %a.icon.icon-display{:href => "#section-bar-3"}
            %span Cover Letter
        %li
          %a.icon.icon-upload{:href => "#section-bar-4"}
            %span Map
        %li
          %a.icon.icon-tools{:href => "#section-bar-5"}
            %span Settings
    .content-wrap
      %section#section-bar-1
        #iframe-container
          %iframe{ :width => "100%", :height => "100%" }
      %section#section-bar-2
        %p.detail Job Title: #{@job["jobtitle"]}
        %p.detail Company: #{@job["company"]}
        %p.detail City: #{@job["city"]}
        %p.detail State: #{@job["state"]}
        %p.detail Country: #{@job["country"]}
        %p.detail Location: #{@job["formattedLocation"]}
        %p.detail Snippet: #{@job["snippet"]}
        %p.detail Url: #{@job["url"]}
        %p.detail Posted: #{@job["formattedRelativeTime"]}

      %section#section-bar-3
        %p 3
      %section#section-bar-4
        %p 4
      %section#section-bar-5
        %p 5