%section
  .tabs.tabs-style-bar
    %nav
      %ul
        %li
          %a.icon.icon-home{:href => "#section-bar-1"}
            %span Job
        %li
          %a.icon.icon-box{:href => "#section-bar-2"}
            %span Website
        %li
          %a.icon.icon-display.cover-letter-tab{:href => "#section-bar-3"}
            %span Cover Letter
        %li
          %a.icon.icon-upload{:href => "#section-bar-4"}
            %span Notes
        %li
          %a.icon.icon-tools{:href => "#section-bar-5"}
            %span Friends
    .content-wrap
      %section#section-bar-1
        %p.detail Job Title: #{@job["jobtitle"]}
        %p.detail Company: #{@job["company"]}
        %p.detail Location: #{@job["formattedLocation"]}
        %p.detail Country: #{@job["country"]}
        %p.detail Snippet: #{@job["snippet"]}
        %p.detail Url: #{ link_to "Job Link", @job["url"], target: "_blank" }
        %p.detail Posted: #{@job["formattedRelativeTime"]}
      %section#section-bar-2
        #iframe-container
          %iframe{ :width => "100%", :height => "100%" }

      %section#section-bar-3
        #cover-letter-wrapper
          - if !@job_detail
            = link_to "Interested In Job", user_job_details_path(current_user, JobDetail.new, jobkey: @job["jobkey"]), method: :post, remote: true, id: 'interested'
          - else
            = render "job_details/cover_letter_form"
          
      %section#section-bar-4
        %p.detail checklist tab
        
      %section#section-bar-5
        %p 5