%section
  .tabs.tabs-style-bar
    %nav
      %ul
        %li
          %a.icon.icon-home{:href => "#section-bar-1"}
            %span Job
        %li
          %a.icon.icon-box{:href => "#section-bar-2"}
            %span Details
        %li
          %a.icon.icon-display{:href => "#section-bar-3"}
            %span Cover Letter
        %li
          %a.icon.icon-upload{:href => "#section-bar-4"}
            %span Checklist
        %li
          %a.icon.icon-tools{:href => "#section-bar-5"}
            %span Friends
    .content-wrap
      %section#section-bar-1
        #iframe-container
          %iframe{ :width => "100%", :height => "100%" }
      %section#section-bar-2
        %p.detail Job Title: #{@job["jobtitle"]}
        %p.detail Company: #{@job["company"]}
        %p.detail Location: #{@job["formattedLocation"]}
        %p.detail Country: #{@job["country"]}
        %p.detail Snippet: #{@job["snippet"]}
        %p.detail Url: #{ link_to "Job Link", @job["url"], target: "_blank" }
        %p.detail Posted: #{@job["formattedRelativeTime"]}

      %section#section-bar-3
        - if !@job_detail
          = link_to "Interested In Job", user_job_details_path(current_user, JobDetail.new, jobkey: @job["jobkey"]), method: :post, remote: true, id: 'Interested'


        = render "job_details/cover_letter_form"
          
      %section#section-bar-4
        %p.detail checklist tab
        = form_for([@job_detail, ApplicationStatus.new], remote: true) do |f|
          = f.label :name
          = f.text_field :name
          = f.submit "Create Status"

        - @job_detail.job_statuses.each do |js|
          = check_box_tag(js.application_status.name, nil, js.checked)
          = label_tag js.application_status.name
          %br
        
      %section#section-bar-5
        %p 5