//search

= form_tag('/jobs/search', method: 'get') do
  = label_tag(:q, 'search for:')
  = text_field_tag(:q)
  = label_tag(:location, 'location:')
  = text_field_tag(:location)
  = submit_tag('search')