!!!
%html
  %head
    %title Joborganizer
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = tinymce_assets
    = csrf_meta_tags
  %body
    #container
      .row
        .col-xs-12#nav
          - if user_signed_in?
            #user_links
              = link_to "My Jobs", user_job_details_index_path(current_user)
          #user_nav
            - if user_signed_in?
              Logged in as
              = succeed "." do
                %strong= current_user.email
              = link_to 'Edit profile', edit_user_registration_path
              |
              \#{link_to "Logout", destroy_user_session_path, method: :delete}
            - else
              = link_to "Sign up", new_user_registration_path
              |
              \#{link_to "Login", new_user_session_path}
          - flash.each do |name, msg|
            = content_tag :div, msg, id: "flash_#{name}"

      = yield
          
